<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<center><form method="post" action="check_names">
	<input type="hidden" name="username" value='<%=username%>'>
	<% pairs_array.each do |pairs| %>
		<input type="checkbox" name="teams[]" value='<%=pairs.join(',')%>'>
		<%=pairs.join(',')%><br>
	<%end%>
	<input type="submit" value="Next">
</center>
</form>

</body>
</html>