<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center><h2>Please enter your name here: </h2>
<form method="post" action="username">
	<input type="text" name="username" autofocus>
	<input type="submit" value="Enter">
</form></center>
</body>
</html>