<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center><h3>Here are your teams <%=username%>:</h3>
<input type="hidden" name="username" value="<%=username%>">
	<% session[:liked_pairs].each do |final| %>
		<%=final.join(',')%><strong>;</strong><br>
	<%end%>
<form method="post" action="start_over_button">
<br><input type="submit" value="Start Over">
</center>
</form>

</body>
</html>